<div class="content">
	<h1>About MPC</h1>
	<p>Matt Payne Consulting currently consists of one person - me.</p>
	<p>I've been a professional software developer for approximately 5 years, although
		 I've been writing software for much longer than that.
	</p>
	<p>
		In the past, I've been employed as a developer for a Canadian television media
		company and as a consultant for an IT consulting firm.  
	</p>	 
	<p>
		Most of my corporate experience comes from the oil and gas world of Calgary, Alberta.
		<h3>My Resume</h3>
			<%= image_link_to("pdf.gif", "/assets/MattPayneResume2008.pdf") %>
	</p>
</div>
