<h1>About MPC</h1>
<hr />
<br />
<div>
  <span>My Resume</span>&nbsp;
  <%= image_link_to("pdf.gif", "/assets/MattPayneResume2009.pdf") %>
</div>
<br />
<div style="float:left;width:50%;">
  <p>I've been developing software for approximately 7 years - professionally 
    for the past 4 years.
  </p>
  <p>
    I received my Bachelor of Science from Lakehead University and my diploma in
    Object Oriented Software Technology (OOST) from University of Calgary.
  </p>
  <p>
    Recently, I've been employed as a developer for a Canadian television media
    company and as a consultant for an IT consulting firm.  
  </p>
  <p>
    Most of my corporate experience has been in the oil and gas world of Calgary, Alberta.
  </p>
  <p>
    I grew up in Waterloo and recently moved back to the Kitchener-Waterloo area. 
    I'm enjoying being near friends and family.
  </p>
</div>
<div style="float:left;margin-left:10px;">
  <%= image_tag("img1.jpg") %>
</div>
<div style="clear:both;">&nbsp;</div>
