<div class="content">
  <h1>Contact Information</h1>
  <hr />
  <div class="map-container">
    <div id="map" style="width: 500px; height: 300px">
      
    </div>
  </div>
  <p>
    Feel free to email me at any time.<br />
    <%= image_email_link_to("email.png", "paynmatt@gmail.com") %>
  </p>
</div>
<script type="text/javascript" language="javascript">
    load();
</script>
