<div class="content">
	<h3>Contact Information</h3>
	<p>
		139 Brighton St. #6b<br />
		Waterloo, ON<br />
		Canada<br />
		N2L 4N4<br />
		(519) 572-2888<br />
	</p>
	<p>
		Feel free to email me at any time.
	</p>
	<%= image_email_link("email.png", "paynmatt@gmail.com") %>
</div>
