<div class="content">
	<h1>Hits</h1>
	<% if @hits && @hits.not_empty? %>
		<% for hit in @hits %>
			<div class="hit">
				<h2><%= hit.ip_address %></h2>
				<p>
					<%= datetime(hit.created_at) %>
				</p>
				<p>
					User Agent: <%= h(hit.user_agent) %>
				</p>
				<p>
					Session: <%= h(hit.session_id) %>
				</p>
				<hr />
			</div>
		<% end %>
	<% else %>
		<p>There are no hits to display.
	<% end %>
</div>
