<div class="content">
  <h1>matt payne consulting.</h1>
  <br />
  <div class="home">
    <p>MPC specializes in software development projects for business.
      We work with you and your business to develop software that serves your
      needs - whatever they may be.
      From concept to completion, we can work with you during every step of your 
    software's evolution.</p>
    <p>
      This site is designed to be easy to use. MPC develops 
      software. We do <strong><em>not</em></strong> specialize in web 
      <strong><em>design</em></strong>, however we've tried
      to make the site as visually appealing as possible. Fashion is important, 
      but <strong><em>function</em></strong> is what really matters.
    </p>
  </div>
</div>
