<h1>matt payne consulting.</h1>
<br />
<p class="home">
  MPC specializes in software development projects for businesses in Southwestern Ontario.
  We are located in Waterloo, Ontario, one of Canada's technology hot spots.
  We focus primarily on Ruby and Python web applications, but also work with .NET and Java.
  MPC works with you and your business to develop software that serves your
  needs - whatever they may be.
  From concept to completion, we will work with you during every step of your 
  software's evolution.
</p>
<p class="home">
  This site is designed to be easy to use. MPC develops 
  software. We do <strong><em>not</em></strong> specialize in web 
  <strong><em>design</em></strong>, however we've tried
  to make the site as visually appealing as possible. Fashion is important, 
  but <strong><em>function</em></strong> is what really matters.
</p>
