<div id="home">
<p>
  Matt Payne Consulting specializes in software development projects for businesses in Southwestern Ontario.
  I am located in Waterloo, Ontario, one of Canada's technology hot spots.
  I work with amazing and powerful programming languages like Ruby, Java and Microsoft .NET to
  create dynamic, user friendly and functional web and desktop applications.
</p>
<p>
  From concept to completion, I will work with you during every step of your 
  software's evolution to ensure that the needs of you and your business are met.
</p>
<p>
  Are you looking for a contractor? Do you need someone to fill in a gap on a project? I enjoy working on short     term projects and am happy to quote or discuss potential work on short notice.
</p>
<p>
  This site is designed to be easy to use. I do <strong><em>not</em></strong> specialize in web 
  <strong><em>design</em></strong>, however I've tried
  to make the site as visually appealing as possible.
</p>
</div>
