<div class="content">
	<h2>Welcome to the new home of Matt Payne Consulting (M.P.C.)</h2>
	<p>We specialize in software development projects for business.
	We work with your and your business to develop software that serves your
		 needs - whatever they may be.
	From concept to completion, we can be with you every step of the way.</p>
</div>
