<div class="content">
  <div>
    <h2>Welcome to the new home of Matt Payne Consulting (MPC)</h2>
    <p>MPC specializes in software development projects for business.
      I will work with you and your business to develop software that serves your
      needs - whatever they may be.
      From concept to completion, I can work with you during every step of your 
    software's evolution.</p>
    <p>
      This site is designed to be easy to use. MPC develops 
      software. I do <em>not</em> specialize in web <em>design</em>, however I've tried
      to make the site as visually appealing as possible. Fashion is important, 
      but <em>function</em> is what really matters.
    </p>
  </div>
</div>
