<div class="content">
	<div style="float:left;width:50%;">
		<h2>Welcome to the new home of Matt Payne Consulting (MPC)</h2>
		<p>MPC specializes in software development projects for business.
		   We will work with you and your business to develop software that serves your
			 needs - whatever they may be.
			 From concept to completion, we can work with you during every step of your 
			 software's evolution.</p>
		<p>
			This site is designed to be simple and easy to use. MPC developes 
			software. While we do <em>not</em> specialize in web <em>design</em>, We've tried
			to make the site as visually appealing as possible. While we believe 
			that fashion is important, function is what really matters.
		</p>
	</div>
	<div style="float:left;margin-left:10px;">
		<%= image_tag("img1.jpg", :width => "340px", :height => "267px") %>
	</div>
	<div style="clear:both">&nbsp;</div>
</div>
