<div class="content">
	<div style="float:left;width:50%;">
		<h2>Welcome to the new home of Matt Payne Consulting (MPC)</h2>
		<p>We specialize in software development projects for business.
		We work with your and your business to develop software that serves your
			 needs - whatever they may be.
		From concept to completion, we can be with you every step of the way.</p>
		<p>
			This site is designed to be as simple and easy to use as possible. MPC developes 
			software. While we do <em>not</em> specialize in web <em>design</em>. We've tried
			to make the site as visually appealing as possible, but while we like fashion, we're
			better at doing the function.
		</p>
	</div>
	<div style="float:right;">
		<%= image_tag("img1.jpg", :width => "340px", :height => "267px") %>
	</div>
	<div style="clear:both">&nbsp;</div>
</div>
