<div class="posts">
	<% if @posts && @posts.not_empty? %>
		<%= render_tags(@tags) %>
		<% count = @posts.size %>
		<% for post in @posts %>
			<%= render_partial_post(post) %>
			<% count -= 1 %>
			<% unless count == 0 %>
				<br />
				<hr />
			<% end %>
		<% end %>
	<% else %>
		<p class="no_posts">There are currently no posts.</p>
	<% end %>
	<% if logged_in? %>
	<p class="admin_link">
		<br />
		<%= link_to("Create", "/post") %> a new post
	</p>
	<% end %>
</div>
