<div class="posts">
	<h1>Blog Posts</h1>
	<% if @posts && @posts.not_empty? %>
		<% for post in @posts %>
			<%= image_tag("header.png", {:width => "100%", :height => "6px", :class => "post_header"}) %>
			<%= render_partial_post(post) %>
		<% end %>
	<% else %>
		<p class="no_posts">There are currently no posts.</p>
	<% end %>
	<% if logged_in? %>
	<p class="admin_link">
		<br />
		<%= link_to("Create", "/post") %> a new post
	</p>
	<% end %>
</div>
<%= render_tags(@tags) %>
<div style="clear:both">&nbsp;</div>
