<div class="content">
	<h1>Projects</h1>
	<p>
		At M.P.C., we enjoy writing software and sometimes look for an interesting side projects. As well,
		sometimes certain software components that are written several times can be made somewhat
		generic and broken out into reusable modules. In these cases, we usually create a project
		and make it available to all.
	</p>
	<p>
		Listed below are some of our more recent projects.
	</p>
	<h2><%= link_to("Jambase4Rails", "http://github.com/mattapayne/jambase4rails", :target => "_blank") %></h2>
	<p>
		An open source Ruby on Rails plugin that lets developers easily hook into
		the <%= link_to("Jambase", "http://www.jambase.com", :target => "_blank") %> (an online live concert archive) API.
	</p>
	<h2><%= link_to("Tumblr4Rails", "http://github.com/mattapayne/tumblr4rails", :target => "_blank") %></h2>
	<p>
		An open source Ruby on Rails plugin that lets developers read and write to
		Tumblelogs using the <%= link_to("Tumblr", "http://tumblr.com", :target => "_blank") %> API.
	</p>
</div>
