<div class="search-container">
  <%= start_form("/blog/posts/search", "GET", {:class => "search-form", :onSubmit => "return verifyValue('_query');"}) %>
  <%= text_field_tag("query") %>    
  <%= submit_button("Search Posts") %>
  <%= end_form %>
</div>