.post_comments
{
    padding-left:10px;
    padding-right:10px;
    border:1px dashed #737373;
}

.post_comments h3
{
    cursor:pointer;
    color:blue;
}

span.notice
{
    font-size:10pt;
    color:#737373;
    text-decoration:none;
}

.comment_summary
{
    font-style:italic;
    font-weight:200;
    font-size:10pt;
}

.posts
{
    clear:both;
}

.post
{
  margin-bottom:30px;
  margin-top:10px;
}

.search-form
{
    margin:0;
    padding:0;
}

.search-results
{
    clear:both;
    font-size:10px;
    color:red;
    padding:5px;
    margin:0;
}

.captcha
{
    font-size:10pt;
}
 
.post_body
{
    margin-bottom:5px;
}

hr.wide-rule
{
    background-color:#737373;
    height:5px;
}

.rss
{
    padding-bottom:10px;
    float:left;
}

.search-container
{
    float:right;
}
 
.comment
{
    border-top:1px dashed #737373;
    padding:5px;
}
 
div.paged
{
    text-align:center;
    font-weight:bold;
}
 
div.sidebar-content
{
    font-size:62.5%;
    border:1px dashed #737373;
    padding:5px;
}

div.sidebar-content h2
{
    padding:0px;
    padding-bottom:10px;
    font-weight:bold;
}