.post_comments
{
	padding-left:10px;
	padding-right:10px;
	border:2px dashed black;
	background-color:white;
}

.post_body
{
	padding-bottom:15px;
	font-weight:bold;
}

.comment
{
	border-top:1px dashed silver;
	padding:5px;
}

.tags
{
	border-top:2px dashed black;
	border-bottom:2px dashed black;
	padding:10px;
}
