.post_comments
{
	padding-left:10px;
	padding-right:10px;
	border:1px dashed silver;
}

.posts
{
	float:left;
	width:77%;
}

div.post_header
{
	margin-top:15px;
	background:#FFFFFF url(header.png) repeat-x scroll 0% 0%;
}

.post_body
{
	padding:5px;
	padding-bottom:15px;
	font-weight:bold;
	margin-bottom:5px;
}

.comment
{
	border-top:1px dashed silver;
	padding:5px;
}

.tags
{
	float:right;
	width:20%;
}
