/* standard elements */
html {min-height: 100%;}

* {
    margin: 0;
    padding: 0;
}

div.notice
{
    background-color:#DCDCDC;
    font-size:10pt;
    padding:5px;
    text-align:center;
    border-top:2px solid red;
}

hr
{
    color:#737373;
    width:100%;
}

a:hover {color: #06C;}
a img {border: none;}

p.small
{
    font-size:8pt;
}

body 
{
    color: #444;
    font: normal 14pt Verdana,sans-serif;
}

p,ul {padding-bottom: 1.2em;}

ul
{
    margin-left:25px;
    margin-top:10px;
}

h1 {font: normal 1.6em Verdana,sans-serif;}
h2 {font: normal 1.4em Verdana, sans-serif;}
h3 {font: normal 1.2em Verdana,sans-serif;}

h1,h2,h3 {color: #737373;}

#body
{
    font-family:verdana;
    width:90%;
    margin-left:5%;
    padding-top:30px;
    padding-bottom:10px;
    min-height:450px;
}

div.map-container
{
    padding-top:15px;
    padding-bottom:15px;
}

.error
{
    font-size:12px;
    color:red;
}

p.home
{
    font-size:16pt;
}

#footer
{
    padding-bottom:5px;
    padding-top:5px;
    font-size:10px;
    border-top:2px solid red;
    text-align:center;
    background-color:black;
    color:white;
}

div.divider
{
    background:#FFFFFF url(footer-bg.png) repeat-x scroll 0% 0%;
}

#header
{
    background-color:black;
    border-top:2px solid red;
}

#header a img
{
    padding:15px;
    padding-top:25px;
    padding-bottom:25px;
}

div.right-bar
{
    float:left;
    margin-left:15px;
    width:78%;
}

div.left-bar
{
    float:left;
    width:20%;
}

div.service-left
{
    float:left;
    width:45%;
}

div.service-right
{
    float:left;
    width:45%;
    margin-left:10px;
}

ul.menu {
    list-style-type:none;
    width:auto;
    position:relative;
    display:block;
    height:33px;
    font-size:.6em;
    background:url(images/bg.png) repeat-x top left;
    font-family:Neuropolitical,Verdana,Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
}

ul.menu li {
    display:block;
    float:left;
    margin:0;
    padding:0;
}

ul.menu li a {
    float:left;
    color:white;
    text-decoration:none;
    height:24px;
    padding:9px 15px 0;
    font-weight:bold;
}

ul.menu li a:hover,.current {
    color:Black;
    background:url(images/bg.png) repeat-x top left;
    text-decoration:none;
}

ul.menu .current a {
    color:Black;
    font-weight:700;
}


/*GREEN*/
ul.menu.silver{
    background-color:Black;
}
ul.menu.silver li a:hover, .menu.silver li.current {
    background-color:white;
}                    
                    


     