/* standard elements */
html {min-height: 100%;}

* {
    margin: 0;
    padding: 0;
}

a {color: #3410CE;}
a:hover {color: #06C;}
a img {border: none;}

body {
    color: #444;
    font: normal 62.5% Tahoma,sans-serif;
    padding-top: 10px;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: normal 1.6em sans-serif;}
h3 {font: bold 1em Tahoma,sans-serif;}

h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}

code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font: normal 1em Tahoma,sans-serif;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

h1 {
    font: normal 3em sans-serif;
}

.body
{
	font-family:verdana;
}

div#wrapper
{
	width:80%;
	margin-left:10%;
}

.error
{
	font-size:12px;
	color:red;
}

div.content
{
	padding:10px;
}

#body
{
	padding-bottom:10px;
}

#footer
{
	background:#FFFFFF url(footer-bg.png) repeat-x scroll 0% 0%;
	padding-bottom:10px;
	padding-top:16px;
	font-size:10px;
	text-align:center;
}

div.divider
{
	background:#FFFFFF url(footer-bg.png) repeat-x scroll 0% 0%;
}

#header
{
	padding-bottom:10px;
}

#menu
{
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 10px;
	font: bold 12px Verdana;
	border-bottom: 1px solid gray;
}

#menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu li
{
	list-style: none;
	display: inline;
	margin: 0;
}

#menu li a
{
	text-decoration: none;
	padding: 3px 0.5em;
	margin-right: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: white;
}

#menu li a:link, #tablist li a:visited
{
	color: navy;
}

#menu li a:hover
{
	color: white;
	background: #114CCE;
	border-color: black;
}
